/*
empiezo el 13 dic con Media Query, para nivel 1 Ej2
El CSS lo "heredo" del ejercicio1
*/
h1 {
  text-align: center;
}
.container {
  max-width: 1200px;
  background-color: whitesmoke;
  padding: 10px;
}

.block {
  background-color: black;
}
.top {
  height: 70px;
  background-color: rgb(18, 18, 17);
  padding: 10px;
  margin: 10px;
  flex-direction: column;
}
@media (max-width: 600px) {
  .top {
    height: 110px;
  }
}
.line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  padding: 10px;
  background-color: rgb(69, 69, 96);
}
@media (max-width: 600px) {
  .line1 {
    flex-direction: column;
    height: 50px;
    padding: 10px;
    background-color: rgb(69, 69, 96);
  }
}
.x1,
.x2,
.x3 {
  height: 10px;
  background-color: orangered;
}
.x1 {
  margin-right: 10px;
  width: 23%;
}
.x2 {
  width: 50%;
}
.x3 {
  margin-left: 10px;
  width: 23%;
  flex-direction: column;
}
@media (max-width: 600px) {
  .x1,
  .x2,
  .x3 {
    height: 10px;
    width: 100%;
    background-color: orangered;
    margin: auto;
  }
}

.line2 {
  margin-top: 10px;
  height: 10px;
  padding: 10px;
  background-color: orange;
}
.inline2 {
  height: 10px;
  background-color: yellowgreen;
}

.middle {
  height: 90px;
  background-color: black;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .middle {
    min-height: 170px;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
    .middle {
      min-height: 220px;
      background-color: green;
          margin-top: 10px;
      flex-direction: column;
    }
  }
.left_box {
  height: 80px;
  width: 64%;
  margin-right: 10px;
  background-color: grey;
  display: flexbox;
  flex-direction: row;
}
@media (max-width: 600px) {
  .left_box {
    height: 110px;
    width: 100%;
    margin-bottom: 10px;
    flex: column;
  }
}
.First2lines {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  margin-top: 10px;
  background-color: grey;
}

.Leftline {
  height: 10px;
  width: 48%;
  background-color: rgb(255, 0, 34);
}
.Rightline {
  height: 10px;
  width: 48%;
  background-color: green;
}
@media (max-width: 600px) {
  .First2lines {
    height: 30px;
    flex-direction: column;
    margin:10px;
  }
  .Leftline {
    width: 100%;
    margin-bottom: 10px;
  }
  .Rightline {
    width: 100%;
  }
}
.Second2lines {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 10px;
  margin-top: 10px;
  background-color: grey;
}
@media (max-width: 600px) {
  .Second2lines {
    margin:10px;
    flex-direction: column;
    height: 30px;
  }
}

.Thirdline {
  flex-direction: column;
  height: 10px;
  margin: 10px;
  background-color: blue;
}
.right_box {
  height: 90px;
  width: 34%;
  background-color: red;
  flex-direction: column;
}
.ParallelLines {
  margin: 10px;
  height: 10px;
  background-color: aquamarine;
}
@media (max-width: 768px) {
  .left_box,
  .right_box {
    width: 100%;
    flex-direction: column;
  }
  .right_box {
    margin-bottom: 10px;
    height: 60px;
  }
}

.bottom {
  background-color: black;
  height: 10px;
  padding: 10px;
  margin: 10px;
  flex-direction: row;
}
.line_bottom {
  flex-direction: row;
  height: 10px;
  background-color: orange;
}
